# Prerequisites
*.d

# Object files
**/obj
*.o
*.elf

# Libraries
*.a

# Linker output
*.map
*.objdump

# Quartus temp files
*.rpt
*.done
*.smsg
*.summary
*.jdi
*.pin
*.sld
*.sof
*.pof
*.qws

*.sopcinfo

# Quartus folders
**/.qsys_edit
**/db/
**/incremental_db/
**/output_files/
**/Embed/

# BSP files and folders
**/software/dhrystone_bsp/
**/software/dhrystone/Makefile
**/software/dhrystone/.*

